<h4 style= "margin-bottom: 0em;">Create a league:</h4>
<form class="form2" id="addleague" action="/leagues" method="post">
<label>League name:</label> <input type="text" name="name"><br>
<input type="submit" value="Submit">
</form><br>

<h4 style="margin: 30px 0px 0px 0px";>Join a league:</h4>
<form class="form2" id="joinleague" action="/leagues/join" method="post">
<label>League name:</label> <input type="text" name="name"><br>
<label>Public key:</label> <input type="text" name="publicKey" id="publicKey"><br>
<input id="joinSubmit" type="submit" value="Submit">
</form><br>
<div id="messageDiv"></div>

<input hidden="hidden" value="{{username}}" id="username">

<table class="myTable2">
<thead> 
    <th>League name</th> 
	    <th class="tooltip">Public key
        <span class="tooltiptext">Grant friends access to your league</span>
    </th>
	<th>Admin<th>
</thead> 
<tbody> 
    {{#each leagues}} 
    <tr> 
        <td><a href="/leagues/display/{{id}}">{{name}}</td> 
		<td class="publicKeys">{{publicKey}}</td>
		<td name="admin" valid="{{admin}}">{{admin}}</td>
        <td><button hidden="hidden" value="{{id}}" onclick="deleteLeague({{id}})">Delete</button></td>
        <td><a class="updateLinks" hidden="hidden" href="/leagues/{{id}}">Update</a></td>
		<input hidden="hidden" value="{{id}}" id="leagueId">
    </tr> 
    {{/each}} 
</tbody> 
</table> 

