<form id="chooseTeams">
<fieldset style="margin-left:50px; margin-top:15px" id="myFieldset">
League: <select name="league" id="changeleague">
	<option disabled selected value> -- select an option -- </option>
	{{#each leagues}}
	<option value="{{id}}">{{name}}</option>
	{{/each}}
</select>&nbsp;

Team 1: <select name="team1" id="team1">
    <option disabled selected value> -- Select a league -- </option>
</select>&nbsp;

Team 2: <select name="team2" id="team2"> 
    <option disabled selected value> -- Select a league -- </option>
</select>

<input type="submit" value="Submit" id="mySubmit">
</fieldset>
</form>


<table id="team1Tbl" class="myTable" style="float: left">
<caption id="team1caption"> 
	{{#if t1fteam}}
		{{t1fteam}}
	{{else}} 
		Team 1
	{{/if}}
</caption>
<thead> 
    <th>Name</th> 
    <th hidden="hidden">Last name</th> 
    <th>Team</th>
    <th hidden="hidden">Position(s)</th>
    <th hidden="hidden">PPG</th>
    <th hidden="hidden">RPG</th>
    <th hidden="hidden">APG</th>
    <th hidden="hidden">SPG</th>	
    <th hidden="hidden">BPG</th>
    <th hidden="hidden">TOPG</th>
    <th class="tooltip">FPPG
        <span class="tooltiptext">Fantasy points per game</span>
    </th>
    <th class="tooltip"># Games
        <span class="tooltiptext"># eligible games this week</span>
    </th>
    <th>Total</th>

</thead> 
<tbody id="team1tbdy"> 
    {{#each team1}} 
    <tr> 
		<td style="display:none;">{{playerId}}</td>
        <td>{{fname}} {{lname}}</td> 
        <td hidden="hidden">{{lname}}</td> 
        <td>{{team_name}}</td> 
        <td hidden="hidden">{{pos}}</td>
		<td id="ppg" hidden="hidden"></td>
		<td id="rpg" hidden="hidden"></td>
		<td id="apg" hidden="hidden"></td>
		<td id="spg" hidden="hidden"></td>
		<td id="bpg" hidden="hidden"></td>
		<td id="topg"hidden="hidden"></td>
		<td></td>
    </tr> 
    {{/each}} 
</tbody> 
</table>

<table id="team2Tbl" class="myTable" style="float: right">
<caption id="team2caption"> 
	{{#if t2fteam}}
		{{t2fteam}}
	{{else}} 
		Team 2
	{{/if}}
</caption>
<thead> 
    <th>Name</th> 
    <th hidden="hidden">Last name</th> 
    <th>Team</th>
    <th hidden="hidden">Position(s)</th>
    <th hidden="hidden">PPG</th>
    <th hidden="hidden">RPG</th>
    <th hidden="hidden">APG</th>
    <th hidden="hidden">SPG</th>	
    <th hidden="hidden">BPG</th>
    <th class="tooltip">FPPG
        <span class="tooltiptext">fantasy points per game</span>
    </th>
    <th class="tooltip"># Games
        <span class="tooltiptext"># eligible games this week</span>
    </th>
    <th>Total</th>
</thead> 
<tbody id="team2tbdy" > 
    {{#each team2}} 
    <tr> 
		<td style="display:none;">{{playerId}}</td>
        <td>{{fname}} {{lname}}</td> 
        <td hidden="hidden">{{lname}}</td> 
        <td>{{team_name}}</td> 
        <td hidden="hidden">{{pos}}</td>
		<td hidden="hidden"></td>
		<td hidden="hidden"></td>
		<td hidden="hidden"></td>
		<td hidden="hidden"></td>
		<td hidden="hidden"></td>
		<td hidden="hidden"></td>
		<td></td>
    </tr> 
    {{/each}} 
</tbody> 
</table>





