<h4 hidden="hidden" id="changeTeamh4" style= "margin-bottom: 0em;">Change team name:</h4>
<form class="form2" id="update-fantasy-team" action="/teams" method="post">
    <label>Team name:</label> <input type="text" name="name" value="{{team.name}}">
	<button onclick="updateFantasyTeam({{team.id}})">Update</button><br>
</form><br>

<h4 hidden="hidden" id="addPlayerh4" style= "margin-bottom: 0em; margin-top:30px">Add a player:</h4>


<form class="form2" hidden="hidden" id="chooseTeams">
<fieldset style="margin-top: -10px" id="myFieldset">
<label>Team:</label> <select style="width:150px" name="team" id="changeteam">
	<option disabled selected value> -- Select a team -- </option>
	{{#each teams}}
	<option value="{{teamId}}">{{name}}</option>
	{{/each}}
	</select><br>
<label>Player:</label> <select style="width:150px" name="player" id="player">
    <option disabled selected value> -- Select a team -- </option>
</select><br>
<input type="submit" value="Add">
</fieldset>
</form>


<form style="margin-left:300px; margin-top:-2px" class="form2" hidden="hidden" id="searchplayer">
<fieldset id="myFieldset">
	<label>Search by first or last name:</label> <input style="width:150px" type="text" name="searchname" id="searchname">
	<input type="hidden" value="{{team.id}}" name="searchteam" id="searchteam">
	<input type="submit" value="Search">
</fieldset>
</form>


<div id="myDiv">
</div>

<h4 id="rosterH4" style= "margin-bottom: 0em; margin-top: 100px;">Roster:</h4>
<table style="margin-top: 10px" class="myTable" id="{{team.id}}" name="rosterTable">
<thead> 
    <th>First name</th> 
    <th>Last name</th> 
    <th>Team</th>
    <th>Position(s)</th>
</thead> 
<tbody name="rosterBody"> 
    {{#each players}} 
    <tr> 
	<td style="display:none;">{{playerId}}</td>
        <td>{{fname}}</td> 
        <td>{{lname}}</td> 
        <td>{{team_name}}</td> 
        <td>{{pos}}</td>
	<td><button hidden="hidden" class="removeButtons" value="{{playerId}}">Remove</button></td>
    </tr> 
    {{/each}} 
</tbody> 
</table>

<input hidden="hidden" value="{{username}}" id="username">
<input hidden="hidden" value="{{team.owner}}" id="owner">
<input hidden="hidden" value="{{fantasyId}}" id="fantasyId">


<script defer>selectLocation({{team.location}});</script>
<script defer>selectCoach({{team.coach}});</script>


